[color]
	ui = auto
[user]
	email = nico.coretti@googlemail.com
	name = Nicola Coretti
[core]
	editor = vim
	excludesfile = /Users/NiCoretti/.gitignore_global
[http]
	sslVerify = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[push]
	default = matching
